<div class="container">
  <h1 class="text-center">The BeyHive</h1>
  <div class="row">
    <div class="col-xs-12 img-responsive center-block">
    <img id="home_page_imgs" class="img-circle" src="https://i.imgur.com/6bd3vSV.jpg">
      <div class="col-md-2 col-md-offset-5"><%=link_to "About", about_path,
      {class: "btn btn-default"} %>
      </div>
    </div>
    <div class="col-xs-12 img-responsive center-block">
    <img id="home_page_imgs" class="img-circle" src="https://i.imgur.com/hT9gvh5.jpg">
      <div class="col-md-2 col-md-offset-5"><%= link_to "Video", posts_path(video: true),
      {class: "btn btn-default"} %>
      </div>
    </div>
    <div class="col-xs-12 img-responsive center-block">
    <img id="home_page_imgs" class="img-circle" src="https://i.imgur.com/0JCvwzE.jpg">
      <div class="col-md-2 col-md-offset-5"><%= link_to "Images", posts_path(photo: true),
      {class: "btn btn-default"} %>
      </div>
    </div>
    <div class="col-xs-12 img-responsive center-block">
    <img id="home_page_imgs" class="img-circle" src="https://i.imgur.com/JM3bM1D.jpg">
      <div class="col-md-2 col-md-offset-5"><%= link_to "Text", posts_path(text_posts: true),
      {class: "btn btn-default"} %>
      </div>
    </div>
    <div class="col-xs-12 img-responsive center-block">
    <img id="home_page_imgs" class="img-circle" src="https://i.imgur.com/HswBnDc.jpg">
      <div class="col-md-2 col-md-offset-5"> <%= link_to "All", posts_path,
      {class: "btn btn-default"} %>
      </div>
    </div>
</div>
