<div class="post">
  <h4><%= post.title%></h4>

  <% if post.has_video? %>
    <iframe class="video-embed" src="<%= post.embed_link %>" frameborder="0"
      allowfullscreen></iframe>
  <% end %>

  <% if post.has_image? %>
    <img src="<%= post.photo %>" width="500">
  <% end %>

  <% if post.has_text? %>
    <p><%= post.text_post %></p>
  <% end %>
    <div class="comment_box">
      <% post.comments.each do |comment| %>
      <h5>Comments:</h5>
      <%= comment.text %>
      <% comment.user_id %>
      <% comment.post_id %>
    <% end %>

    </div>

</div>
