<h4><%= link_to @post.title%></h4>

<iframe class="video-embed" src="<%= @post.embed_link %>" frameborder="0"
  allowfullscreen></iframe>



<ul class="list-unstyled">
  <li class="list-unstyled"><%= "Title: #{@post.title}" %></li>
</ul>
<%= link_to "Edit post!", edit_post_path(@post), :class => "Edit" %>
<%= link_to "Back to all posts!", posts_path %>
<%= link_to "Delete", post_path, :class => "Delete" %>
